In [135]:
import pymongo
import pandas as pd

In [136]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [137]:
client.drop_database('testdb')

In [138]:
db = client['testdb']

In [139]:
collection = db['testcollection']

In [140]:
import csv
with open('iris.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        collection.insert_one(row)

In [141]:
data = pd.DataFrame(list(collection.find()))
print(data.head())

                        _id Id SepalLengthCm SepalWidthCm PetalLengthCm  \
0  65e8c4cfab1661a369ad28d8  1           5.1          3.5           1.4
1  65e8c4cfab1661a369ad28d9  2           4.9          3.0           1.4
2  65e8c4cfab1661a369ad28da  3           4.7          3.2           1.3
3  65e8c4cfab1661a369ad28db  4           4.6          3.1           1.5
4  65e8c4cfab1661a369ad28dc  5           5.0          3.6           1.4

  PetalWidthCm      Species
0          0.2  Iris-setosa
1          0.2  Iris-setosa
2          0.2  Iris-setosa
3          0.2  Iris-setosa
4          0.2  Iris-setosa

In [142]:
data = data.drop('_id', axis=1)

In [143]:
data.dtypes

Id               object
SepalLengthCm    object
SepalWidthCm     object
PetalLengthCm    object
PetalWidthCm     object
Species          object
dtype: object

In [144]:
data['Id'] = pd.to_numeric(data['Id'])
data['SepalLengthCm'] = pd.to_numeric(data['SepalLengthCm'])
data['SepalWidthCm'] = pd.to_numeric(data['SepalWidthCm'])
data['PetalLengthCm'] = pd.to_numeric(data['PetalLengthCm'])
data['PetalWidthCm'] = pd.to_numeric(data['PetalWidthCm'])

In [149]:
data = data.drop('Id', axis=1)

In [150]:
data.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
sum              float64
dtype: object

In [151]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species   sum
0            5.1           3.5            1.4           0.2  Iris-setosa  10.2
1            4.9           3.0            1.4           0.2  Iris-setosa   9.5
2            4.7           3.2            1.3           0.2  Iris-setosa   9.4
3            4.6           3.1            1.5           0.2  Iris-setosa   9.4
4            5.0           3.6            1.4           0.2  Iris-setosa  10.2

In [157]:
data['sum'] = data.iloc[:, 0:4].sum(axis=1)
print(data.head())

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species   sum
0            5.1           3.5            1.4           0.2  Iris-setosa  10.2
1            4.9           3.0            1.4           0.2  Iris-setosa   9.5
2            4.7           3.2            1.3           0.2  Iris-setosa   9.4
3            4.6           3.1            1.5           0.2  Iris-setosa   9.4
4            5.0           3.6            1.4           0.2  Iris-setosa  10.2

In [158]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [160]:
def predict_species():
    sepal_length = float(input('Enter sepal length: '))
    sepal_width = float(input('Enter sepal width: '))
    petal_length = float(input('Enter petal length: '))
    petal_width = float(input('Enter petal width: '))
    sum = sepal_length + sepal_width + petal_length + petal_width
    if sum < 7.9:
        print('Iris-setosa')
    elif sum < 8.9:
        print('Iris-versicolor')
    else:
        print('Iris-virginica')

predict_species()

Iris-virginica