In [88]:
import pymongo
import pandas as pd

In [89]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [90]:
# client.drop_database('testdb')

In [91]:
db = client['testdb']

In [92]:
collection = db['testcollection']

In [93]:
import csv
i = 0
with open('Iris.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    if collection.count_documents({}) == 0:
        for row in reader :
            collection.insert_one(row)

In [94]:
data = pd.DataFrame(list(collection.find()))
print(data)

                          _id   Id SepalLengthCm SepalWidthCm PetalLengthCm  \
0    65eadf63b2b3b208272d8b21    1           5.1          3.5           1.4
1    65eadf63b2b3b208272d8b22    2           4.9          3.0           1.4
2    65eadf63b2b3b208272d8b23    3           4.7          3.2           1.3
3    65eadf63b2b3b208272d8b24    4           4.6          3.1           1.5
4    65eadf63b2b3b208272d8b25    5           5.0          3.6           1.4
..                        ...  ...           ...          ...           ...
145  65eadf63b2b3b208272d8bb2  146           6.7          3.0           5.2
146  65eadf63b2b3b208272d8bb3  147           6.3          2.5           5.0
147  65eadf63b2b3b208272d8bb4  148           6.5          3.0           5.2
148  65eadf63b2b3b208272d8bb5  149           6.2          3.4           5.4
149  65eadf63b2b3b208272d8bb6  150           5.9          3.0           5.1

    PetalWidthCm         Species
0            0.2     Iris-setosa
1            0.2     Iris-setosa
2            0.2     Iris-setosa
3            0.2     Iris-setosa
4            0.2     Iris-setosa
..           ...             ...
145          2.3  Iris-virginica
146          1.9  Iris-virginica
147          2.0  Iris-virginica
148          2.3  Iris-virginica
149          1.8  Iris-virginica

[150 rows x 7 columns]

In [95]:
data = data.drop('_id', axis=1)

In [96]:
data.dtypes

Id               object
SepalLengthCm    object
SepalWidthCm     object
PetalLengthCm    object
PetalWidthCm     object
Species          object
dtype: object

In [97]:
data['SepalLengthCm'] = pd.to_numeric(data['SepalLengthCm'])
data['SepalWidthCm'] = pd.to_numeric(data['SepalWidthCm'])
data['PetalLengthCm'] = pd.to_numeric(data['PetalLengthCm'])
data['PetalWidthCm'] = pd.to_numeric(data['PetalWidthCm'])

In [98]:
data.dtypes

Id                object
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [99]:
data.head()

  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1            5.1           3.5            1.4           0.2  Iris-setosa
1  2            4.9           3.0            1.4           0.2  Iris-setosa
2  3            4.7           3.2            1.3           0.2  Iris-setosa
3  4            4.6           3.1            1.5           0.2  Iris-setosa
4  5            5.0           3.6            1.4           0.2  Iris-setosa

In [100]:
data['sum'] = data.iloc[:,:4].sum(axis=1)
print(data.head())

  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species  \
0  1            5.1           3.5            1.4           0.2  Iris-setosa
1  2            4.9           3.0            1.4           0.2  Iris-setosa
2  3            4.7           3.2            1.3           0.2  Iris-setosa
3  4            4.6           3.1            1.5           0.2  Iris-setosa
4  5            5.0           3.6            1.4           0.2  Iris-setosa

    sum
0  10.0
1   9.3
2   9.2
3   9.2
4  10.0

/tmp/ipykernel_12017/2071251799.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data['sum'] = data.iloc[:,:4].sum(axis=1)

In [101]:
species = input("Enter the species: ")
print("The number of occurences of the species are: ", data[data['Species'] == species].shape[0])

The number of occurences of the species are:  50

In [102]:
print("The maximum value of sepal_length is: ", data['SepalLengthCm'].max())
print("The maximum value of sepal_width is: ", data['SepalWidthCm'].max())
print("The maximum value of petal_length is: ", data['PetalLengthCm'].max())
print("The maximum value of petal_width is: ", data['PetalWidthCm'].max())

The maximum value of sepal_length is:  7.9
The maximum value of sepal_width is:  4.4
The maximum value of petal_length is:  6.9
The maximum value of petal_width is:  2.5

In [103]:
print("The minimum value of sepal_length is: ", data['SepalLengthCm'].min())
print("The minimum value of petal_width is: ", data['PetalWidthCm'].min())

The minimum value of sepal_length is:  4.3
The minimum value of petal_width is:  0.1

In [104]:
print("The mean value of petal_length is: ", data['PetalLengthCm'].mean())

The mean value of petal_length is:  3.758666666666666